<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amapWebKey</key>
	<string>3e3497eea34245ea84824b9d18f39730</string>
	<key>lang</key>
	<string>zh_cn</string>
	<key>defaultCity</key>
	<string>湖南</string>
</dict>
</plist>
